*~
.#*
*.elc
abbrev_defs
ac-comphist.dat
anything-c-adaptive-history
auto-save-list/*
bookmarks
.caches/*
compile.log
custom.el
.DS_Store
el-get/
elpa
.erc-auth.el
eshell/
flycheck-*
flycheck_*
history
ido.last
image-dired
.mc-lists.el
network-security.data
oauth2.plstore
.org-id-locations
orgcard.txt
places
private.el
.python-environments/
recentf
request/
synonym.cache
url/*
sbcl.core-for-slime
.smex-items
src
tmp
tramp
.yas-compiled-snippets.el
notes
straight/
var/
transient/
org-roam.db
eln-cache
